// @import 'vantui/dist/style/common.less';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 28px;
}
body {
  background-color: #f6f6f6;
}
a {
  text-decoration: none;
  color: rgb(89, 89, 121);
}
.none {
  display: none;
}
